In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

In [3]:
tortilla_data = pd.read_csv("Resources/tortilla_prices.csv")

tortilla_data.head()

,State,City,Year,Month,Day,Store type,Price per kilogram
0,Aguascalientes,Aguascalientes,2007,1,10,Mom and Pop Store,9.9
1,Baja California,Mexicali,2007,1,10,Mom and Pop Store,NaN
2,Baja California,Tijuana,2007,1,10,Mom and Pop Store,10.0
3,Baja California Sur,La Paz,2007,1,10,Mom and Pop Store,10.0
4,Campeche,Campeche,2007,1,10,Mom and Pop Store,10.0

In [4]:
tortilla_data

,State,City,Year,Month,Day,Store type,Price per kilogram
0,Aguascalientes,Aguascalientes,2007,1,10,Mom and Pop Store,9.90
1,Baja California,Mexicali,2007,1,10,Mom and Pop Store,NaN
2,Baja California,Tijuana,2007,1,10,Mom and Pop Store,10.00
3,Baja California Sur,La Paz,2007,1,10,Mom and Pop Store,10.00
4,Campeche,Campeche,2007,1,10,Mom and Pop Store,10.00
...,...,...,...,...,...,...,...
289141,Veracruz,Coatzacoalcos,2024,10,21,Big Retail Store,12.57
289142,Veracruz,Veracruz,2024,10,21,Big Retail Store,13.27
289143,Veracruz,Xalapa,2024,10,21,Big Retail Store,13.73
289144,Yucatán,Mérida,2024,10,21,Big Retail Store,13.13
289145,Zacatecas,Zacatecas,2024,10,21,Big Retail Store,13.28

In [5]:
tortilla_data_filtered = tortilla_data[tortilla_data['Year'] >= 2014]

tortilla_data_filtered

,State,City,Year,Month,Day,Store type,Price per kilogram
113484,Aguascalientes,Aguascalientes,2014,1,3,Mom and Pop Store,12.00
113485,Baja California,Mexicali,2014,1,3,Mom and Pop Store,16.29
113486,Baja California,Tijuana,2014,1,3,Mom and Pop Store,13.55
113487,Baja California Sur,La Paz,2014,1,3,Mom and Pop Store,14.25
113488,Campeche,Campeche,2014,1,3,Mom and Pop Store,14.50
...,...,...,...,...,...,...,...
289141,Veracruz,Coatzacoalcos,2024,10,21,Big Retail Store,12.57
289142,Veracruz,Veracruz,2024,10,21,Big Retail Store,13.27
289143,Veracruz,Xalapa,2024,10,21,Big Retail Store,13.73
289144,Yucatán,Mérida,2024,10,21,Big Retail Store,13.13
289145,Zacatecas,Zacatecas,2024,10,21,Big Retail Store,13.28

In [6]:
tortilla_data_cleaned_2 = tortilla_data_filtered.dropna(subset=['Price per kilogram'])


tortilla_data_cleaned_2

,State,City,Year,Month,Day,Store type,Price per kilogram
113484,Aguascalientes,Aguascalientes,2014,1,3,Mom and Pop Store,12.00
113485,Baja California,Mexicali,2014,1,3,Mom and Pop Store,16.29
113486,Baja California,Tijuana,2014,1,3,Mom and Pop Store,13.55
113487,Baja California Sur,La Paz,2014,1,3,Mom and Pop Store,14.25
113488,Campeche,Campeche,2014,1,3,Mom and Pop Store,14.50
...,...,...,...,...,...,...,...
289141,Veracruz,Coatzacoalcos,2024,10,21,Big Retail Store,12.57
289142,Veracruz,Veracruz,2024,10,21,Big Retail Store,13.27
289143,Veracruz,Xalapa,2024,10,21,Big Retail Store,13.73
289144,Yucatán,Mérida,2024,10,21,Big Retail Store,13.13
289145,Zacatecas,Zacatecas,2024,10,21,Big Retail Store,13.28

In [7]:
tortilla_data_cleaned_2.to_csv("Resources/new_tortilla.csv", index_label="State")

In [35]:
file_crime =Path("Resources/crime_data.csv")
crime_data = pd.read_csv(file_crime, encoding="ISO-8859-1")

crime_data.head()

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,3,0,2,1,1,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,1,1,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,0,0,2,2,3,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,2,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
crime_data = crime_data.drop(columns=['Clave_Ent', 'Subtipo de delito', 'Modalidad','Bien jurídico afectado'])
crime_data.head()

,Año,Entidad,Tipo de delito,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,Aguascalientes,Homicidio,3,0,2,1,1,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,Aguascalientes,Homicidio,1,1,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,Aguascalientes,Homicidio,0,0,2,2,3,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015,Aguascalientes,Homicidio,2,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,Aguascalientes,Homicidio,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
renamed_crime_data = crime_data.rename(columns={"Entidad":"State", "Tipo de delito":"Crime Types","Año":"Year"})
renamed_crime_data.head()

,Year,State,Crime Types,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,Aguascalientes,Homicidio,3,0,2,1,1,1.0,2.0,1.0,2.0,2.0,2.0,1.0
1,2015,Aguascalientes,Homicidio,1,1,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2015,Aguascalientes,Homicidio,0,0,2,2,3,2.0,0.0,1.0,2.0,0.0,0.0,0.0
3,2015,Aguascalientes,Homicidio,2,0,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015,Aguascalientes,Homicidio,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
organized_crime_data = renamed_crime_data[["State","Year","Crime Types"]]
organized_crime_data

                State  Year                                Crime Types
0      Aguascalientes  2015                                  Homicidio
1      Aguascalientes  2015                                  Homicidio
2      Aguascalientes  2015                                  Homicidio
3      Aguascalientes  2015                                  Homicidio
4      Aguascalientes  2015                                  Homicidio
...               ...   ...                                        ...
25083       Zacatecas  2022                              Falsificación
25084       Zacatecas  2022                   Contra el medio ambiente
25085       Zacatecas  2022  Delitos cometidos por servidores públicos
25086       Zacatecas  2022                                Electorales
25087       Zacatecas  2022              Otros delitos del Fuero Común

[25088 rows x 3 columns]

In [42]:
organized_crime_data.to_csv("Resources/new_crime_data.csv", index_label="State")